<div class="mt-1">
  <div class="row" *ngIf="formfieldType.radio.indexOf(mainValidation?.Type) > -1 && mainValidation?.Type" [ngClass]="{'d-none': mainValidation.__visible===false}">
    <div class="col-md-2 col-sm-12">
      <mat-radio-group class="example-radio-group"  [(ngModel)]="data" (change)="onUpdateChange({fieldvalue:$event.value,Id:id})" [disabled]="mainValidation.Readonly">
        <mat-radio-button [value]="true" [checked]="data===true">True</mat-radio-button>
        <mat-radio-button [value]="false" [checked]="data===false">False</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="row" *ngIf="formfieldType.input.indexOf(mainValidation?.Type) > -1 && mainValidation?.Type" [ngClass]="{'d-none': mainValidation.__visible===false}">
    <div class="col-md-2 col-sm-12">
      <mat-form-field>
        <input matInput [type]="mainValidation.Type" [placeholder]="key" [(ngModel)]="data" [readonly]="mainValidation.Readonly"
               [disabled]="mainValidation.Readonly" (keyup)="onUpdateChange({fieldvalue:data,Id:id,fieldtype:mainValidation?.Type})">
      </mat-form-field>
    </div>
  </div>

  <div class="row" *ngIf="formfieldType.option.indexOf(mainValidation?.Type) > -1 && mainValidation?.Type" [ngClass]="{'d-none': mainValidation.__visible===false}">
    <div class="col-md-2 col-sm-12">
      <mat-form-field>
        <mat-label>{{key}}</mat-label>
        <mat-select [(ngModel)]="data" (selectionChange)="onUpdateChange({fieldvalue:$event.value,Id:id})" [disabled]="mainValidation.Readonly">
          <mat-option *ngFor="let option of mainValidation.Options" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>



  <div class="row" *ngIf="type==='object'">
    <div *ngFor="let field of data;let i=index;" class="col-md-2 col-sm-12" [ngClass]="{'d-none': field.validation.__visible===false}">
      <mat-form-field *ngIf="formfieldType.input.indexOf(field.validation.Type) > -1">
        <input matInput [type]="field.validation.Type"
               [readonly]="field.validation.Readonly"
               [disabled]="field.validation.Readonly"
               [placeholder]="field.key" [(ngModel)]="field.value"
               (keyup)="onUpdateChange({fieldvalue:field.value,Id:field.id,fieldtype:field.validation.Type})">
      </mat-form-field>
      <div *ngIf="formfieldType.radio.indexOf(field.validation.Type) > -1">
        <label class="mat-radio-group">{{field.key}}</label>
        <mat-radio-group class="example-radio-group" [(ngModel)]="field.value" [id]="field.key"
                         (change)="onUpdateChange({fieldvalue:$event.value,Id:field.id})"
                         [disabled]="field.validation.Readonly">
          <mat-radio-button [value]="true" [checked]="field.value===true">True</mat-radio-button>
          <mat-radio-button [value]="false" [checked]="field.value===false">False</mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="formfieldType.option.indexOf(field.validation.Type) > -1">
        <mat-form-field>
          <mat-label>{{field.key}}</mat-label>
          <mat-select [(ngModel)]="field.value" (selectionChange)="onUpdateChange({fieldvalue:$event.value,Id:field.id})" [disabled]="field.validation.Readonly">
            <mat-option *ngFor="let option of field.validation.Options" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <ng-container *ngIf="type==='object'">
    <ng-container *ngFor="let field of data;let i = index;">
      <ng-container *ngIf="formfieldType.complex.indexOf(field.type) > -1">
        <mat-card class="mt-2 mat-border-2" [ngClass]="{'d-none': field.validation.__visible===false}">
          <mat-card-title>
            {{field.key}}
          </mat-card-title>
          <ng-container *ngIf="field.type!=='array'">
            <app-json-schema-form [type]="field.type" [key]="field.key" [data]="field.value" [parentIndex]="undefined" [id]="field.id" [formData]="formData" [validation]="mainValidation"></app-json-schema-form>
          </ng-container>
          <ng-container *ngIf="field.type==='array'">
            <ng-container *ngFor="let innerData of field.value;let innderIndex = index;">
              <mat-card class="mt-2 mat-border-3">
                <div class="text-right">
                  <button mat-icon-button matTooltip="Remove {{field.key}}" color="primary" type="button" (click)="removeSection(field.value,innderIndex)" *ngIf="field.value.length > 1 ">
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                </div>
                <app-json-schema-form [type]="homeService.checkTypeof(innerData)" [key]="key" [data]="innerData" [parentIndex]="innderIndex" [id]="field.id" [formData]="formData" [validation]="mainValidation"></app-json-schema-form>
              </mat-card>
            </ng-container>
            <div class="example-button-row">
              <button mat-raised-button matTooltip="Add {{field.key}}" color="primary" type="button" (click)="addSection(field.value)">
                <mat-icon>add</mat-icon> {{field.key}}
              </button>
            </div>
          </ng-container>
        </mat-card>
      </ng-container>
    </ng-container>
  </ng-container>

  <div *ngIf="type==='array'">
    <mat-card *ngFor="let card of data;let i = index;" class="mt-2 mat-border-1" >
      <div class="text-right">
        <button mat-icon-button matTooltip="Remove {{key}}" color="primary" type="button" (click)="removeSection(data,i)" *ngIf="data.length >1 ">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>
      <app-json-schema-form [type]="homeService.checkTypeof(card)" [data]="card" [key]="key" [parentIndex]="i" [id]="id" [formData]="formData" [validation]="mainValidation"></app-json-schema-form>
    </mat-card>
    <div class="example-button-row">
      <button mat-raised-button matTooltip="Add {{key}}" color="primary" type="button" (click)="addSection(data)">
        <mat-icon>add</mat-icon> {{key}}
      </button>
    </div>
  </div>


<!--<div *ngIf="type==='array'">
  <div class="example-button-row">
    <button mat-raised-button matTooltip="Add {{key}}" color="primary" type="button" (click)="addSection(data)" class="fab">
      <mat-icon>add</mat-icon> {{key}}
    </button>
  </div>
  <mat-tab-group backgroundColor="accent">
    <mat-tab *ngFor="let card of data;let i = index;">
      <ng-template mat-tab-label>
        {{key}} - {{i}}
        <button mat-icon-button matTooltip="Remove {{key}}" type="button" (click)="removeSection(data,i)" *ngIf="data.length >1 ">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </ng-template>
      <mat-card class="mt-2 mat-border-1">
        <app-json-schema-form [type]="homeService.checkTypeof(card)" [data]="card" [key]="key" [parentIndex]="i" [id]="id" [formData]="formData" [validation]="mainValidation"></app-json-schema-form>
      </mat-card>
    </mat-tab>

  </mat-tab-group>
</div>-->


</div>
