.full-width-table {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.page-heder {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 40px;

  span {
    font-size: 18px;
    font-weight: 500;
  }

  .mat-raised-button {
    border-radius: 0;
  }

  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.14);
}

.page-container {
  height: 570px;
  overflow: auto;
}

.badge {
  font-size: 87%;
  font-weight: 200;
  width:60px;
}

.list-group-item {
  padding: 0;
  border: none;
  line-height: 28px;
  width:80%;
}

:host /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgb(152, 230, 171);
}

:host /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #28a745;
}
