@import '~@angular/material/theming';

@include mat-core();


$default--primary: mat-palette($mat-indigo);
$default--accent: mat-palette($mat-pink, A200, A100, A400);
$default--warn: mat-palette($mat-red);

$default--theme: mat-light-theme($default--primary, $default--accent, $default--warn);

@include angular-material-theme($default--theme);

/* bootstrap */
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: mat-color($default--primary);
}

::-webkit-scrollbar {
  width: 6px;
  background-color: mat-color($default--primary);
}

::-webkit-scrollbar-thumb {
  background-color: mat-color($default--primary);
}

.mat-form-field {
  width: 100%;
}

.mat-expansion-panel-header {
  border-left: 2px solid mat-color($default--primary);
  border-radius: 0 !important;
  padding: 0 16px !important;
}

.mat-expansion-panel-content {
  background: lighten(rgba(0,0,0,0.3),90%);
}

.mat-expansion-panel-body {
  padding: 0 7px 10px !important;
  border-left: 2px solid mat-color($default--primary);
  $colors: red,green, orange, purple, mat-color($default--primary);

  .mat-border-1 {
    border: 2px solid nth($colors,1);

    .mat-card-title {
      border-bottom: 2px solid nth($colors,1);
      color: #000;
      border-radius: 4px;
      padding: 4px;
    }

    .text-right.mat-card-title {
      background: none !important;
    }
  }

  .mat-border-2 {
    border: 2px solid nth($colors,2);

    .mat-card-title {
      border-bottom: 2px solid nth($colors,2);
      color: #000;
      border-radius: 4px;
      padding: 4px;
    }

    .text-right.mat-card-title {
      background: none !important;
    }
  }

  .mat-border-2 .mat-border-2 {
    border: 2px solid nth($colors,3);

    .mat-card-title {
      border-bottom: 2px solid nth($colors,3);
      color: #000;
      border-radius: 4px;
      padding: 4px;
    }

    .text-right.mat-card-title {
      background: none !important;
    }
  }

  .mat-border-3 .mat-border-2 {
    border: 2px solid nth($colors,4);

    .mat-card-title {
      border-bottom: 2px solid nth($colors,4);
      color: #000;
      border-radius: 4px;
      padding: 4px;
    }

    .text-right.mat-card-title {
      background: none !important;
    }
  }

  .mat-border-3 {
    border: 2px solid nth($colors,5);
  }
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  color: #000;
  font-size: 15px;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.mat-header-row {
  background: mat-color($default--primary) !important;
  height: 48px !important;

  .mat-header-cell {
    color: #fff;
    font-size: 14px;
  }

  .mat-sort-header-arrow {
    color: #fff !important;
  }
}

.action-colum {
  width: 8%;
}
